{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
<div class="border rounded shadow p-5">
    <legend>Cadastro</legend>
    <form method="post" action="{% url 'cadastro' %}" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-3 form-floating">
                {{ form.first_name }}
                <label for="id_first_name"><span class="text-danger">*</span>{{ form.first_name.label }}</label>
            </div>
            <div class="col-md-3 form-floating">
                {{ form.last_name }}
                <label for="id_last_name"><span class="text-danger">*</span>{{ form.last_name.label }}</label>
            </div>
            <div class="col-md-6 form-floating">
                {{ form.email }}
                <label for="id_email"><span class="text-danger">*</span>{{ form.email.label }}</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4 form-floating">
                {{ form.username }}
                <label for="id_username"><span class="text-danger">*</span>{{ form.username.label }}</label>
            </div>
            <div class="col-md-4 form-floating">
                {{ form.password }}
                <label for="id_password"><span class="text-danger">*</span>{{ form.password.label }}</label>
            </div>
            <div class="col-md-4 form-floating">
                {{ form.confirm_password }}
                <label for="id_confirm_password"><span class="text-danger">*</span>{{ form.confirm_password.label }}</label>
            </div>
        </div>
        {% include 'componentes/submit.html' %}
    </form>
</div>
{% endblock %}